.quizInfoContainer{
    display: flex;
    justify-content: center;
    font-family: Outfit, sans-serif;
    font-size: 20px;
}
.quizInfo{
    display: grid;
    justify-content:left;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px rgb(202, 202, 202);
    color:#2BAFFC;
    width: 30vw;
}

.quizInfoText{
    color: #9d9d9d;
    display: flex;
    font-size: 26px;
    margin: 0px;
    padding: 0px;
    margin-left: 2px;
}
/* Mobile view */
@media (max-width: 576px) {
    .quizInfoContainer{
        font-size: 12px;
        justify-content: center;
        margin: auto;
        padding: 20px;
    }
    .quizInfoText{
        font-size: 16px;
    }
}
/* Tablet view */
@media (max-width: 768px) {
    .quizInfoContainer{
        font-size: 12px;
        justify-content: center;
        margin: auto;
        padding: 20px;
    }
    .quizInfoText{
        font-size: 16px;
    }
}