.editButton {
    background-color: #2BAFFC; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 120px;
}

.editButton:hover {
    background-color: #3399ff; 
}
