.quizStatsContainer{
    display: flex;
    justify-content: center;
}
.statCards{
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px rgb(202, 202, 202);
    width: 350px;
    height: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 16vw;
    margin-right: 16vw;

    display: grid;
    padding: 45px;
    font-family: Outfit, sans-serif;
    font-size: 58px;
    color: #2BAFFC;
}
.statsText{
    font-family: Outfit, sans-serif;
    font-size: 38px;
    color: #9d9d9d;
}
@media (max-width: 576px) {
    .quizStatsContainer{
        display: grid;

    }
}
@media (max-width: 768px) {
    .quizStatsContainer{
        display: grid;

    }
}