.createQuiz{
    display: flex;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.quizNameInput{
    background: none;
    border: none;
    width: 400px ;
    border-bottom: 2px solid #ccc; 
    padding: 8px;
    color: #4da6ff ;
    font-family: Outfit, sans-serif;
    text-align: center;
    font-size: 30px !important;
    font-weight: bold;
    outline: none; 
    text-align: center;
    
}
.mainPage{
    width: 100% ;
}
.sidebar{
    display: grid;
    justify-content: space-between;
    gap: 300px;
    background-color: #ccc;
    border-radius: 8px;
    overflow:auto;
}

.topbar{
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}




.publishButton{
    position: absolute;
   right:0;
   /* vertically center the icon */
   top: 50%; transform: translateY(-50%);
   margin: 30px;
   background-color: #2BAFFC; 
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 120px;
    height: 50px;
}
.publishButton:hover {
    background-color: #3399ff; 
}
.exitButton{
    margin: 30px;
    background-color: #3B5E73; 
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 120px;
    height: 50px;
}
.exitButton:hover{
    background-color: #1e2f3a;
}
.addQuestionButton{
    margin: 30px;
    background-color: #2BAFFC; 
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 120px;
    height: 50px;
}
.addQuestionButton:hover {
    background-color: #3399ff; 
}


.saveButton{
    position: absolute;
   right:0;
   /* vertically center the icon */
   top: 50%; transform: translateY(-50%);
   margin: 30px;
   background-color: #2BAFFC; 
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 120px;
    height: 50px;
}
.saveButton:hover {
    background-color: #3399ff; 
}

