h1{
color: #2BAFFC;
    font-family: Outfit, sans-serif;
    font-size: 55px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 20px 0;
}

.picture{   
    position: relative;
    width: 447px;
    height: 796px;
    z-index: 1;
}

.picture-background{
    position: absolute;
    width: 504px;
    height: 554px;
    top: -10px;
    left: 20px;
    z-index: 0;
}

.container{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    text-align: center;
    margin-top: 100px;
    padding-left: 50px;

}

.picture-container{

    position: relative;
    width: 504px;
    height: 797px; 
    margin: 100px -70px;

}

/*Tablet (768px and below)*/
@media (max-width: 768px) {
    .container{
        flex-direction: column-reverse;
    }

    h1 {
        font-size: 30px;
        margin: 15px 0;
    }

    .picture-container {
        width: 252px;
        height: 398px; 
        margin: 50px -35px;
        right: 20px;
    }

    .picture{
        width: 223px;
        height: 398px;
    }

    .getStartedButton {
        width: 100px;
        height: 50px;
        font-size: 12px;
        margin:5px;
    }

    .picture-background{

        width: 252px;
        height: 277px;
        top: -10px;
        left: 15px;

    }
}

/* Mobile (480px and below) */
@media (max-width: 480px) {
    .container{
        flex-direction: column-reverse;
    }

    h1 {
        font-size: 22px;
        margin: 10px 0;
    }

    .picture-container {
        width: 252px;
        height: 398px; 
        margin: 50px -35px;
    }

    .picture{
        width: 223px;
        height: 398px;
    }

    .getStartedButton {
        width: 82px;
        height: 37px;
        font-size: 10px;
    }

    .picture-background{

        width: 252px;
        height: 277px;
        top: -10px;
        left: 15px;

    }
}