@keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOutBottom {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

/* Overlay for the modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border-radius: 33px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    animation: slideInBottom 300ms ease-out; /* Apply the animation */


}

/* Modal content box */
.modal-content {
    background: #FFF;
    border-radius: 20px;
    padding: 40px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: outfit; 
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom:30px;
    text-align: left;

}

/* Form layout */
.sign-up-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.form-group label {
    font-weight: 500;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    font-size: 14px;
    border:none;
    border-bottom: 1px solid #333;
    outline: none;
    background: #ffffff;
    font-family: outfit;

}

/* Role selection */
.role-group {
    text-align: left;
    font-size: 14px;
}

.roles label {
    margin-right: 10px;
    font-weight: normal;
}

/* Sign-up button */
.sign-up-button {
    background: #2BAFFC;
    color: #FFF;
    padding: 10px 0;
    border: none;
    border-radius: 33px;
    font-size: 18px;
    cursor: pointer;
    width: 50%;
    margin-top: 20px;
    font-family: outfit;
    align-self: center;
}

.sign-up-button:hover {
    background: #1b8bd9;
}

/* Sign-in link */
.sign-in-text {
    font-size: 14px;
    margin-top: 10px;
}

.sign-in-text a {
    color: #2BAFFC;
    text-decoration: none;
    font-weight: 500;
}

.sign-in-text a:hover {
    text-decoration: underline;
}

.modal-content.exit {
    animation: slideOutBottom 300ms ease-out forwards;
}