@keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOutBottom {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    animation: slideInBottom 300ms ease-out;
}

.modal-content {
    background: #FFF;
    border-radius: 20px;
    padding: 40px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: outfit;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: left;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type="SignInEmail"],
input[type="SignInPassword"] {
    padding: 10px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    background: #ffffff;
    font-family: outfit;
    max-width: 320px;
}

.sign-in-button {
    background: #2BAFFC;
    color: #FFF;
    padding: 10px 0;
    border: none;
    border-radius: 33px;
    font-size: 18px;
    cursor: pointer;
    width: 50%;
    margin-top: 20px;
    font-family: outfit;
    align-self: center;
}

.sign-in-button:hover {
    background: #1b8bd9;
}

.sign-up-text {
    font-size: 14px;
    margin-top: 10px;
}

.sign-up-text a {
    color: #2BAFFC;
    text-decoration: none;
    font-weight: 500;
}

.sign-up-text a:hover {
    text-decoration: underline;
}
